.currencies {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.8rem;
    padding: 1rem 2rem 0.5rem 1rem;
}

.currencies:hover {
    cursor: pointer;
    background-color: #EEEEEE;
}






  